.reflet-interaction__wrapper {
	position: relative;
}

.reflet-interaction {
	$bgc: #f3f3f3;
	align-items: center;
	background-color: $bgc;
	border: 1px solid #d6d6d6;
	border-radius: 0.25rem;
	display: flex;
	gap: 1rem;
	margin: auto;
	max-width: 24rem;
	min-height: 4rem;
	padding: 1rem;
	position: relative;
	z-index: 2;
	&__text {
		margin: 0;
	}
	&__more {
		$darkerBgc: darken($bgc, 8);
		background-color: $darkerBgc;
		border: 1px solid #d6d6d6;
		border-radius: 0.25rem;
		bottom: 0.5rem;
		position: absolute;
		right: 0.5rem;
		padding: 0.25rem;
		transition: background-color 150ms ease-in-out;
		&:hover {
			background-color: darken($darkerBgc, 5);
		}
	}
}

.reflet-interaction__form-box {
	background-color: lighten(#f3f3f3, 2);
	border: 1px solid #d6d6d6;
	border-top: none;
	border-radius: 0 0 0.25rem 0.25rem;
	margin: auto;
	width: 20rem;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	padding: 1rem;
	bottom: 1px;
	&__wrapper {
		height: 0;
		left: 0;
		overflow: hidden;
		position: absolute;
		top: 100%;
		transition: height 350ms ease-in-out;
		width: 100%;
		z-index: 1;
	}
}
