:host {
	display: flex;
	flex: 1;
	flex-direction: column;
}

#main {
	flex: 1;
	margin-top: 4.6875rem;
	max-height: 100vh;
}

.reflet-top {
	padding: 0;
	&__text {
		max-width: 48rem;
		margin: 0 auto;
		padding: 1rem;
	}
}

.reflet-lr__wrapper {
	display: flex;
}

.reflet-left,
.reflet-right {
	flex: 1;
}

.reflet-profile {
	//
}

.reflet-options {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: auto;
	max-width: 48rem;
	padding: 0 1rem;
	&__item {
		align-items: center;
		background-color: #f3f3f3;
		border-radius: 0.25rem;
		color: #000;
		display: flex;
		gap: 0.5rem;
		height: min(70px, calc((100vw - 4rem) / 5));
		justify-content: center;
		max-width: min(70px, calc((100vw - 4rem) / 5));
		transition: background-color 100ms ease-in-out;
		width: 100%;
		&:hover {
			background-color: darken(#f3f3f3, 5);
		}
		&--active {
			background-color: #d0e0ed;
			&:hover {
				background-color: darken(#d0e0ed, 5);
			}
		}
	}
}

.reflet-content {
	height: 100%;
}
