<app-navigation></app-navigation>
<main id="main" #main>
	<div class="reflet-top" #refletTop>
		<h2 class="reflet-top__text m-0">Reflet</h2>
	</div>
	<div class="reflet-options" #refletOptions>
		<div class="reflet-options__item" role="button"></div>
		<div class="reflet-options__item" role="button"></div>
		<div class="reflet-options__item" role="button"></div>
		<div class="reflet-options__item" role="button"></div>
		<div class="reflet-options__item" role="button"></div>
		<div class="reflet-options__item" role="button"></div>
	</div>
	<div class="reflet-content" #refletContent></div>
</main>
