/* You can add global styles to this file, and also import other style files */
html {
	font-size: 16px;
	height: 100%;
	overflow: hidden;
}

body {
	height: 100%;
	overflow-y: auto;
}

.lucide-icon {
	display: block;
}

svg.reflet-options__icon {
	height: min(calc(((100vw - 4rem) / 5) * 0.45), 2rem);
	width: min(calc(((100vw - 4rem) / 5) * 0.45), 2rem);
}

.reflet-interaction__icon {
	display: block;
	height: 1.5rem;
	width: 1.5rem;
}
